.App {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.App h1 {
  align-self: center;
}

#post-container {
  height: 100%;
  display: flex;
}

#post-header {
  display: flex;
  flex-basis: 80%;
}

#post-header h2 {
  font-weight: bold;
  font-size: 25px;
}

#coffee-sidebar {
  height: 100%;
  flex-basis: 20%;
}