.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.App h1 {
  align-self: center;
  font-weight: bold;
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#post-container {
  height: 100%;
  display: flex;
}

#post-body-container {
  height: 100%;
  width: 100%;
}

#post-header-container {
  display: flex;
  width: 100%;
  height: 100%;
}

#post-header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #1A120B;
  background-color: var(--dark);
  border-radius: 5px;
  padding: 10px;
  flex-basis: 80%;
}

#post-header-left {
  display: flex;
}

#post-header-left h2 {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

#post-header-left span {
  cursor: pointer;
  padding-top: 2px;
}

#post-header-right {
  display: flex;
}

#post-header-right span {
  cursor: pointer;
  margin-right: 5px;
}

#post-body {
  height: 100%;
  width: 100%;
}

#coffee-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-basis: 20%;
  margin-left: 50px;
}

#coffee-sidebar-header-container {
  display: flex;
  margin-bottom: 1rem;
}

#coffee-sidebar h2 {
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

#coffee-sidebar span {
  padding-top: 2px;
  cursor: pointer;
}